@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-size: 100%;
  background: linear-gradient(
    111.1deg,
    rgb(251, 140, 0) 3.2%,
    rgb(98, 0, 234) 90.3%
  );
  display: flex;
  justify-content: center;
}

#container {
  width: 500px;
  height: 625px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.75);
}

h1 {
  margin-top: 55px;
  margin-bottom: 25px;
}

input[type="text"],
input[type="password"],
label {
  font-size: 18px;
  display: block;
  width: 375px;
  padding: 15px;
  border-radius: 0.8rem;
  margin: auto;
}

input[type="text"],
input[type="password"] {
  margin-bottom: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: transparent;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 2px solid #818cf8;
}

input[type="submit"] {
  font-size: 24px;
  color: white;
  background: linear-gradient(
    89.8deg,
    rgb(195, 67, 129) 11%,
    rgb(90, 43, 186) 83.4%
  );
  width: 375px;
  padding: 15px 0px;
  border-radius: 0.8rem;
  border: transparent;
  text-transform: uppercase;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

input[type="submit"]:hover {
  opacity: 0.7;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

::placeholder {
  color: white;
  font-size: 16px;
  opacity: 0.7;
}

input:focus::placeholder {
  color: transparent;
}

form > div {
  margin: 50px auto 0px auto;
  width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
}
